//@font-face {
//  font-family: 'Ubuntu';
//  src: url('./src/fonts/Ubuntu-Regular.ttf') format('ttf');
//  font-weight: 400;
//  font-style: normal;
//}

.new {
  background-color: #7B93CE;
  font-family: Ubuntu;
}

.test-element {
  font-size: 50px;
}