@import "constants";

.controls {
  width: 100%;
  height: 8%;
  padding: 0 20px;
}

.bottom-controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .message-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $input-background;
    width: 70%;
    height: 70%;
    border-radius: 20px;
    //border: 1px solid lightgray;

    & > input {
      width: 90%;
      outline: none;
      background-color: transparent;
      color: white;
      font-size: 15px;
      font-family: 'Ubuntu', sans-serif;

      &::placeholder {
        color: white;
      }
    }

    /*.message-input > input:focus {*/
    /*    color: rgba(0, 0, 0, .4);*/
    /*}*/
  }

  .send-button {
    background: $input-background;
    width: 42px;
    height: 42px;
    border-radius: 10px;
    outline: none;
    color: white;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;

    &:hover {
      opacity: .9;
    }
  }
}